<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>
        *{
            box-sizing: border-box;
        }
        
      

    .nav-link {
        margin: auto;
    }

    .nav-link:hover {
        font-size: 23px;
        color: hotpink;
    }

    

    .p li{
        float: left;
        margin-left: 150px;
        font-weight: bold;
    }
        .ab{
            font-size: 35px;
            color:darkorange;
            font-family: serif;
            padding-left: 450px;
            padding-top: 60px;
        }
        .form-control{
            width: 300px;
        
        }
        form{
            padding-top: 50px;
            padding-left: 410px;
        }
        @media only screen and (max-width:575px){
        .form-control{
            width: 200px;
            
        }
            .ab{
                font-size:28px;
                padding-left: 170px;
                } 
            form{
                padding-left: 170px;
            }
        }
        @media only screen and (min-width:575px){
        .form-control{
            width: 240px;
            
        }
            .ab{
                font-size:28px;
                padding-left: 170px;
                } 
            form{
                padding-left: 170px;
            }
        }
        @media only screen and (min-width:893px){
        .form-control{
            width: 240px;
            
        }
            .ab{
                font-size:28px;
                padding-left: 260px;
                } 
            form{
                padding-left: 260px;
            }
        }
        
         @media only screen and (min-width:1000px){
        .form-control{
            width: 270px;
            
        }
            .ab{
                font-size:28px;
                padding-left: 410px;
                } 
            form{
                padding-left: 410px;
            }
        }
        
        
    </style>
</head>
<body>
    <div class="container-fluid">
        {{>navbar}}
        <div class="row" style="background-image:  linear-gradient(to bottom right,rgba(107, 185, 240, 0.6),rgba(107, 185, 240, 0.3));">
            <div class="col-lg-1 col-sm-1 col-md-1 col-xm-1" style="height: 600px;"></div>
             <div  class="col-lg-10 col-sm-10 col-md-10 col-xm-10" >
               <h2 class="ab">STUDENT LOGIN</h2>
                 <form action="" onsubmit="return valida()" class="was-validated" name="myform">
                     <label for="student">Student name:</label>
                     <input type="text" name="student" class="form-control" required>
                     <div class="invalid-feedback">Plz fill this field</div>
                     <label for="pwd">Password</label>
                     <input type="password" name="pwd" class="form-control" required> 
                     <div class="invalid-feedback">Plz fill this field</div>
                       
                        <br><br>                
                     <button type="submit" class="btn btn-primary">login</button>
                     <a href="">Forget my password?</a>
                 </form> 
                 
                 
                
             </div>
             <div class="col-lg-1 col-sm-1 col-md-1 col-xm-1" ></div>
        </div>
        <div class="row" style="background-image: linear-gradient(to bottom,rgba(90,90,90,0.3),rgba(0,0,0,0.9));">

                <div class="col-lg-1 col-md-1 col-sm-1 col-xm-1" style="height: 300px;"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xm-9" style="height: 300px;" class="f">
                    <h3 style="color: white;font-family: serif;font-weight:bold;padding-left: 450px;padding-top: 10px;">TRACK</h3>
                    <hr style="background-color: white; ">
                    <ul style="list-style-type: none;" class="p">
                        <li>Home</li>
                        <li>Gallery</li>
                        <li>Contact-Us</li>
                        <li>Q&A</li>
                    </ul>
<br><br>
 <hr style="background-color: white; ">
<ul style="list-style-type: none;" class="p">
                        <li><i class="fa fa-info" style="color: white;"></i></li>
                        <li><i class="fa fa-bell" style="color: white;"></i></li>
                        <li><i class="fa fa-envelope" style="color: white;"></i></li>
                <li><i class="fa fa-university" style="color: white;"></i></li>
                
                    </ul>
                    <br><br>
<p style="float: right;">© 2019 KIET Group of Institutions - All Rights Reserved</p>

                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xm-2" style="height: 300px;"></div>

            </div>

        
        </div>
        <script>
    
     function valida(){
    var x=document.forms["myform"];
            
    var fname=x.elements["student"].value;
            var adreg=/^[a-zA-Z]+ [a-zA-Z]+$/;
            if(!(fname.match(adreg))){
                alert(`invalid student name

`);
                
                return false;
            }
   var pwd=x.elements["pwd"].value;
                var pwdreg=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
                if(!(pwd.match(pwdreg))){
                alert(`Invalid password
password must contain 8 to 15 characters with at least one lowercase letter, one uppercase letter, one numeric digit, and one special character

`);
            
                return false;
            }
            }
    
    
    
    </script>
    
</body>
</html>