<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>
        .nav-link{
    margin: auto;
        }
    </style>
</head>
<body>
   <div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="" style="color:darkorange;font-style: oblique;font-family: monospace;font-size: 30px;font-weight: bold;margin-left: 60px;">TRACK</a>
            <ul class="navbar-nav container-fluid">
                <li class="nav-item"><a class="nav-link" href="index">About</a></li>
                <li class="nav-item"><a class="nav-link" href="admin">Admin</a> </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#e" data-toggle="dropdown">Admin Search</a>
                <div class="dropdown-menu" id="e">
                    <a class="dropdown-item" href="oldstudentsearch">Old Student Search</a>
                    <a class="dropdown-item" href="newstudentsearch">New Student Search</a>
                    
                    
                    </div></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#i" data-toggle="dropdown">Student</a>
                <div class="dropdown-menu" id="i">
                    <a class="dropdown-item" href="oldstudentregistration">Old Student</a>
                    <a class="dropdown-item" href="newstudenyregistration">New Student</a>
                    <a class="dropdown-item" href="studentlogin">Student Login</a>
                    
                    </div></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#y" data-toggle="dropdown">Chat</a>
                 <div class="dropdown-menu" id="y">
                    <a class="dropdown-item" href="oldstudentchat">Old Student</a>
                    <a class="dropdown-item" href="newstudentchat">New Student</a>
                    
                    
                    </div></li>
                <li class="nav-item"><a class="nav-link" href="">Report Module</a></li>
            </ul>


        </nav>
    </div>
</body>
</html>